doctype html
html
    head
        style
            include ../../../public/css/style.css
    body
        block content

        div
            br
            p หากติดปัญหากรุณาติดต่อ attapat.kayasa@gmail.com